
body {
  counter-reset: score;
  font-family: sans-serif;
}

#container {
  width: 410px;
  position: relative;
  padding: 6px;
  margin: 0 auto;
}

#matrix {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(8, 60px) 0 0 0 0;
  grid-gap: 10px;
  gap: 10px;
}

.tile {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(rock.jpg);
  background-color: #99c;
  border: 4px solid #448;
  border-left-color: #ffffff44;
  border-top-color: #ffffff44;
  border-right-color: #00000066;
  border-bottom-color: #00000088;
  border-radius: 8px;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: transparent;
}

#start,
#finish,
.debug #matrix .tile {
  color: #ffffff99;
}

#overlay {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 0;
  width: 420px;
  height: 422px;
  background-image: url(lava.gif);
  border: 1px dotted #eee;
  border-radius: 10px;
}

#overlay:hover {
  background-color: #f30;
}

.debug #overlay {
  display: none;
}

.tile:target:hover {
  z-index: 4;
  cursor: default;
}

.debug .tile:target:hover {
  background-color: #4f4;
  border-color: #191;
  z-index: 4;
  cursor: default;
}

.tile:target:hover + .tile {
  background-color: #ff4;
  opacity: 0.7;
  z-index: 3;
}

.debug .tile:target:hover + .tile {
  border-color: #991;
}

.tile:target + .tile:hover {
  background-color: #ff4;
  opacity: 0.85;
  z-index: 3;
}

.debug .tile:target + .tile:hover {
  border-color: #991;
}

.tile::before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 4px;
  z-index: 4;
  background-image: url(bridge.png);
  border: 4px solid transparent;
  border-radius: 6px;
  transition: width 0.6s;
  transform-origin: 0px 0px;
}

.tile:target:hover::before {
  opacity: 1;
  width: 30px;
}

.b-tln:hover::before {
  top: 10px;
  left: 20px;
  transform: rotate(270deg);
}

.b-trn:hover::before {
  top: 10px;
  left: calc(100% - 30px);
  transform: rotate(270deg);
}

.b-tre:hover::before {
  top: 20px;
  left: calc(100% - 10px);
}

.b-bre:hover::before {
  top: calc(100% - 30px);
  left: calc(100% - 10px);
}

.b-brs:hover::before {
  top: calc(100% - 10px);
  left: calc(100% - 20px);
  transform: rotate(90deg);
}

.b-bls:hover::before {
  top: calc(100% - 10px);
  left: 30px;
  transform: rotate(90deg);
}

.b-blw:hover::before {
  top: calc(100% - 20px);
  left: 10px;
  transform: rotate(180deg);
}

.b-tlw:hover::before {
  top: 30px;
  left: 10px;
  transform: rotate(180deg);
}

.tile.l2:hover::before {
  width: 100px;
}

.tile.l3:hover::before {
  width: 170px;
}

.tile.l5:hover::before {
  width: 310px;
}

#start   { grid-area: 1 / 1 / 2 / 3; }
#score   { grid-area: 1 / 3 / 2 / 7; }
#filler2 { grid-area: 8 / 1 / 9 / 5; }
#finish  { grid-area: 8 / 5 / 9 / 7; }
#finish, #finish::before { display: none; }
.tile:target + #finish, #finish:target { display: block; }
#finish:target { color: #00ff00cc; }

/* targeted moves */

#c02:target        { grid-area: 2 / 2 / 3 / 4; }
#c02:target ~ #c03 { grid-area: 2 / 4 / 3 / 5; }
#c03:target        { grid-area: 2 / 4 / 3 / 7; }
#c03:target ~ #c04 { grid-area: 3 / 6 / 4 / 7; }
#c04:target        { grid-area: 3 / 5 / 5 / 7; }
#c04:target ~ #c05 { grid-area: 5 / 5 / 6 / 6; }
#c05:target        { grid-area: 5 / 4 / 7 / 6; }
#c05:target ~ #c06 { grid-area: 6 / 3 / 7 / 4; }
#c06:target        { grid-area: 6 / 1 / 7 / 4; }
#c06:target ~ #c07 { grid-area: 5 / 1 / 6 / 2; }
#c07:target        { grid-area: 4 / 1 / 6 / 3; }
#c07:target ~ #c08 { grid-area: 4 / 3 / 5 / 4; }
#c08:target        { grid-area: 3 / 1 / 5 / 4; }
#c08:target ~ #c09 { grid-area: 3 / 4 / 4 / 5; }
#c09:target        { grid-area: 3 / 4 / 4 / 5; }
#c09:target ~ #c10 { grid-area: 3 / 2 / 4 / 3; }
#c10:target        { grid-area: 3 / 1 / 4 / 3; }
#c10:target ~ #c11 { grid-area: 6 / 1 / 7 / 2; }
#c11:target        { grid-area: 5 / 1 / 7 / 3; }
#c11:target ~ #c12 { grid-area: 5 / 3 / 6 / 4; }
#c12:target        { grid-area: 4 / 3 / 6 / 6; }
#c12:target ~ #c13 { grid-area: 4 / 6 / 5 / 7; }
#c13:target        { grid-area: 4 / 1 / 5 / 7; }
#c13:target ~ #c14 { grid-area: 6 / 1 / 7 / 2; }
#c14:target        { grid-area: 6 / 1 / 7 / 2; }
#c14:target ~ #c15 { grid-area: 6 / 6 / 7 / 7; }
#c15:target        { grid-area: 6 / 6 / 7 / 7; }
#c15:target ~ #c16 { grid-area: 4 / 2 / 5 / 3; }

.tile .token {
  display: block;
  opacity: 0.5;
  position: absolute;
  width: 1px;
  height: 1px;
  padding:2px;
  overflow: hidden;
  cursor: pointer;
}

.tile:target:hover .token {
  width: 24px;
  height: 20px;
  border-radius: 12px;
  cursor: default;
  opacity: 0.5;
}

.tile:target .token:hover {
  opacity: 1;
}

.token input {
  position: absolute;
  left: -20px;
  outline: none;
}

.token span::before {
  display: block;
  content: '';
  width: 24px;
  height: 20px;
  background-color: #ffffff33;
  background-image: url(diamond.png);
  background-repeat: none;
  border-radius: 50%;
  cursor: grab;
}

.token input:checked + span::before {
  display: none;
}

#tok1 { top: 50px; left: 48px; }
#tok2 { bottom: 4px; right: 4px; }
#tok3 { top: 48px; left: 30px; }
#tok4 { top: 4px; left: 4px; }
#tok5 { top: 4px; left: 48px; }

.token input:checked {
  counter-increment: score;
}

.mask {
  display: none;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute;
  top: 8px;
  left: 8px;
  background-image: url(mist.gif), url(mist2.gif);
  cursor: none;
  opacity: 0.25;
}

.tile:target .mask {
  display: block;
}

#score {
  color: #222;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  padding: 8px;
}

#score span::after {
  display: inline-block;
  width: 1.2em;
  padding: 4px;
  content: counter(score);
}

#start { counter-reset: score 16; }
a:target ~ a { counter-increment: score -1; }

#start:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+a:not(:target)
+#finish:not(:target)
{ counter-reset: score 0;}

